name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write
  issues: write
  pull-requests: write

concurrency:
  group: ${{ "{{ github.ref_name }}" }}-release
  cancel-in-progress: true

jobs:
  release-please:
    runs-on: ubuntu-latest

    outputs:
      version: ${{ "{{ steps.main.outputs.version }}" }}
      tag_name: ${{ "{{ steps.main.outputs.tag_name }}" }}
      release_created: ${{ "{{ steps.main.outputs.release_created }}" }}

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: release-please-action
        id: main
        uses: googleapis/release-please-action@v4
        with:
          release-type: python

  build-binaries:
    needs:
      - release-please

    if: ${{ "{{ needs.release-please.outputs.release_created == 'true' }}" }}

    strategy:
      fail-fast: true
      matrix:
        include:
          - runner: ubuntu-latest
            extension: ""
          - runner: windows-latest
            extension: ".exe"
          - runner: macos-latest
            extension: ".app"
          - runner: macos-latest-large
            extension: ".app"

    runs-on: ${{ "{{ matrix.runner }}" }}

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Pipx Install Action
        uses: threeal/pipx-install-action@v1
        with:
          packages: uv
      - name: Prepare VirtualEnv cache
        id: pycache
        uses: actions/cache@v5
        with:
          key: python-${{ "{{ hashFiles('.python-version') }}" }}-venv-${{ "{{ hashFiles('uv.lock') }}" }}
          restore-keys: |
            python-${{ "{{ hashFiles('.python-version') }}" }}-venv-
          path: .venv
      - name: Install dependencies into VirtualEnv
        if: steps.pycache.outputs.cache-hit != 'true'
        run: uv sync --locked --no-dev
      - name: Run PyInstaller
        run: uv run pyinstaller .venv/bin/{{ project-name }}
      - name: Rename binary (*nix)
        if: ${{ "{{ runner.os != 'Windows' }}" }}
        run: mv dist/{{ project-name }}/{{ project-name }}${{ "{{ matrix.extension }}" }} dist/{{ project-name }}/{{ project-name }}-${{ "{{ needs.metadata.outputs.version }}" }}-${{ "{{ runner.os }}" }}-${{ "{{ runner.arch }}" }}${{ "{{ matrix.extension }}" }}
      - name: Rename binary (Windows)
        if: ${{ "{{ runner.os == 'Windows' }}" }}
        run: Rename-Item -Path dist/{{ project-name }}/{{ project-name }}${{ "{{ matrix.extension }}" }} -NewName {{ project-name }}-${{ "{{ needs.metadata.outputs.version }}" }}-${{ "{{ runner.os }}" }}-${{ "{{ runner.arch }}" }}${{ "{{ matrix.extension }}" }}
      - name: Export Binary
        uses: actions/upload-artifact@v6
        with:
          path: dist/{{ project-name }}/*

  upload-binaries:
    needs:
      - release-please
      - build-binaries

    if: ${{ "{{ needs.release-please.outputs.release_created == 'true' }}" }}
    
    runs-on: ubuntu-latest

    steps:
      - name: Download Binaries
        uses: actions/download-artifact@v6
        with:
          path: dist/{{ project-name }}
      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          omitNameDuringUpdates: true
          tag: ${{ "{{ needs.release-please.outputs.tag_name }}" }}
          omitBodyDuringUpdate: true
          artifacts: dist/{{ project-name }}/{{ project-name }}*
          artifactErrorsFailBuild: true
          replacesArtifacts: true

